.full-height,.mat-drawer-container {
    min-height: 100vh;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

.mat-toolbar {
    color: #fff;
    font-weight: 500;
}

.mat-sidenav, .mat-toolbar-row {
    background-color: #673ab7;
}
.mat-nav-list {
    &>.nav-item {
        width: 100%;
        padding: 10px;
        display: block;
        text-align: center;
        border-bottom: 2px solid #e3e3e3;
        color: #fff;
        font-weight: 500;
        &.active {
            background-color: #9268db;
        }
        &:first-child {
            border-top: 2px solid #e3e3e3;
        }
    }
}