<mat-toolbar *ngIf="user">
  <mat-toolbar-row>
      <span>Welcome User</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" title="Logout" (click)="signOut()" style="width: auto;">power_settings_new</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="full-height" [opened]="!!user" [@.disabled]="true">
      <mat-nav-list class="p-0">
          <a routerLink="/companies" routerLinkActive="active" class="nav-item">Dashboard</a>
          <a routerLink="/products" routerLinkActive="active" class="nav-item">Favorites</a>
          <a routerLink="/order" routerLinkActive="active" class="nav-item">Wardrobe</a>
          <a routerLink="/invoice" routerLinkActive="active" class="nav-item">Wardrobe</a>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>