<div class="invoice">
    <table mat-table [dataSource]="invoiceDataSource" class="mat-elevation-z8 mt-3" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="generated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
        <td mat-cell *matCellDef="let element"> {{element.generated_on}} </td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> View Order </th>
        <td mat-cell *matCellDef="let element"> 
            <button (click)="viewOrder(element.id)" class="view-order">View Order</button> 
        </td>
      </ng-container>    
  
      <tr mat-header-row *matHeaderRowDef="displayedInvoiceColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedInvoiceColumns;"></tr>
    </table>
</div>

<div class="invoice-details" [hidden]="showDetails">
    <table mat-table [dataSource]="orderDataSource" class="mat-elevation-z8 mt-3" matSort>
        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
            <td mat-cell *matCellDef="let element"> {{element.company.name}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
            <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
            <td mat-cell *matCellDef="let element"> {{element.product.rate}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
            <td mat-cell *matCellDef="let element"> {{element.total}} </td>
            <td mat-footer-cell *matFooterCellDef>{{getTotalCost()}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedOrderColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedOrderColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedOrderColumns"></tr>
    </table>
    <button (click)="showDetails = false" class="hide-details">Hide Detials</button>
</div>